<%
	//this is so we don't need to prepend everything with "Myna."
	Myna.applyTo(this);
	
	// all of our table creation sql
	var allSql =<ejs>
		drop sequence seq_main if exists;
		create sequence seq_main;
		
		drop table event_type if exists;
		create table event_type (
			event_type_id 		BIGINT primary key,
			name				varchar(100)
		);
		insert into event_type(event_type_id,name) values (1,'ERROR');
		insert into event_type(event_type_id,name) values (2,'WARNING');
		insert into event_type(event_type_id,name) values (3,'INFO');
		insert into event_type(event_type_id,name) values (4,'DEBUG');
		insert into event_type(event_type_id,name) values (5,'OTHER');
		
		drop table event if exists;
		create table event (
			event_id 		BIGINT default NEXTVAL('seq_main') primary key ,
			event_type_id	BIGINT,
			app_name		varchar,
			app_purpose		varchar,
			label			varchar,
			detail			clob,
			event_ts		timestamp,
			request_elapsed	bigint
		);
		alter table event add FOREIGN KEY (event_type_id) REFERENCES event_type(event_type_id) ON DELETE CASCADE
		
	</ejs>
	$profiler.begin("create_tables");
	
	// create the tables
	allSql.split(/;/).forEach(function(sql){
		new Query({
			dataSource:":mem:",
			sql:sql
		})
	});
	$profiler.end("create_tables")
	
	
	
	/* Function: log
		logs events to our example table
	*/
	function log(application,purpose,type,label,detail){
		$profiler.begin("log head")
		if (!arguments.callee.types){
			arguments.callee.types = new Query({
				dataSource:":mem:",
				sql:<ejs>
					select event_type_id, lower(name) name
					from event_type
				</ejs>
			});
		}
		var eventManager;
		if (arguments.callee.em){
			eventManager = arguments.callee.em;
		} else {
			eventManager = arguments.callee.em =new DataManager(":mem:").getManager("event");
			/* eventManager.genKey=function(){
				return new Query({
					dataSource:":mem:",
					sql:"select NEXTVAL('seq_main') as id"
				}).data[0].id;
			} */
			//print(dump(eventManager,"eventManager"))
		}
		
		var event_type_id = arguments.callee.types.getRowByColumn("name",type.toLowerCase()).event_type_id
		
		$profiler.end("log head")
		
		
		$profiler.begin("log");
		
		/* Inserts using the dataManager */
		eventManager.create({
			event_type_id:event_type_id,
			app_name:application,
			app_purpose:purpose,
			label:label,
			detail:detail,
			event_ts:new Date(),
			request_elapsed:new Date().getTime() - $server_gateway.started.getTime()
		}); 
		
		/* 
			here is the non DataManager way of inserting a row, with query re-use:
		*/
		/* if (!arguments.callee.insertQry){
			var p = new QueryParams();
			arguments.callee.insertQry=new Query({
				dataSource:":mem:",
				sql:
				'insert into event (			 '+
					'event_type_id				,'+
					'app_name					,'+
					'app_purpose				,'+
					'label						,'+
					'detail						,'+
					'event_ts					,'+
					'request_elapsed			 '+
				') values (						 '+
					'{event_type_id:BIGINT}		,'+
					'{app_name}					,'+
					'{app_purpose}				,'+
					'{label}					,'+
					'{detail:clob}				,'+
					'{event_ts:timestamp}		,'+
					'{request_elapsed:bigint}	 '+
				');', 
				
				deferExec:true
			}); 
		}
		
		arguments.callee.insertQry.execute({
			values:{
				event_type_id:event_type_id,
				app_name:application,
				app_purpose:purpose,
				label:label,
				detail:detail,
				event_ts:new Date(),
				request_elapsed:new Date().getTime() - $server_gateway.started.getTime()
			}
		});  */
		
		$profiler.end("log")
	}
	(10).times(function(index){
		log("test_app","test","debug","test log "+index,"<pre>lots of \n\n\ndetail</pre>");
	});
	$profiler.mark("done log")
	$profiler.begin("dump");
%>
<% var qry=new Query({dataSource:":mem:",sql:"select * from event"}); %>
<table width="100%" height="1" cellpadding="0" cellspacing="0" border="1" >
	<tr>
		<th class="">
			rownum
		</th>
	<@loop array="qry.columns" element="curCol" >
		<th class="">
			<%=curCol.name%>
		</th>
	</@loop>
	</tr>
	<@loop array="qry.data" element="curRow" index="rownum">
		<tr>
			<td class="">
				<%=rownum%>  
			</td>
			<@loop array="qry.columns" element="curCol" >
				<% var curData = curRow[curCol.name.toLowerCase()]; %>
				<th class="">
					<@if ObjectLib.typeOf(curData) == 'date'>
						<%=curData.format("m/d/Y H:i:s")%>
					<@else>
						<%=curRow[curCol.name.toLowerCase()]%>
					</@if>
				</th>
			</@loop>
		</tr>
	</@loop>
</table>
<%$profiler.end("dump");%>

<%$profiler.calcAverages();%> 
<%=$profiler.getSummaryHtml()%>
