<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title> Example JSON-MYNA web service caller</title> 
		<script type="text/javascript" src="<%=$server.rootUrl%>shared/js/libOO/client.sjs"></script>
		<script type="text/javascript" src="<%=$server.rootUrl%>shared/js/shjs/sh_main.js"></script>
		<script type="text/javascript" src="<%=$server.rootUrl%>shared/js/shjs/lang/sh_myna.js"></script>
		<link type="text/css" rel="stylesheet" href="<%=$server.rootUrl%>shared/js/shjs/css/sh_mild_white.css">
		<script>
		
			function showBob(bob){
				debug_window("WS via script include w/callback. Callback called with value:")
				debug_window(bob)
			}
			ObjectLib.after(window,"onload",function(){
				sh_highlightDocument();
				debug_window("WS via script include w/scriptvar=bob. Value of bob:")
				debug_window(bob)
			})
		</script>
		<%-- 
			JSON-MYNA call via script include w/callback function. The callback 
			function must be defined before this is called 
		--%>
		<script src="MyService.ws?json-myna&method=get_bob&callback=showBob"></script>
		<%-- 
			JSON-MYNA call via script include w/scriptvar function. The callback 
			function must be defined before this is called 
		--%>
		<script src="MyService.ws?json-myna&method=get_bob&scriptvar=bob"></script>
		
	</head>
	<body>
		<h1>Example JSON-MYNA web service caller</h1>
		
		regular JSON-MYNA call: 
		<pre class="sh_myna">
var con =new Myna.HttpConnection({
	url:$server.requestServerUrl+$server.rootUrl+"/examples/web_service/MyService.ws",
	parameters:{
		"json-myna":"",
		method:"get_bob"
	},
	//these are needed because we are running in the examples folder
	username:$req.authUser,
	password:$req.authPassword
})
con.connect();
Myna.print(con.getResponseText());
		</pre>
		
		returns:
		<%
			var con =new Myna.HttpConnection({
				url:$server.requestServerUrl+$server.rootUrl+"/examples/web_service/MyService.ws",
				parameters:{
					"json-myna":"",
					method:"get_bob"
				},
				//these are needed because we are running in the examples folder
				username:$req.authUser,
				password:$req.authPassword
			})
			con.connect();
			Myna.print(con.getResponseText());
		%>
		
	</body>
</html>