<link rel="stylesheet" type="text/css" href="<%=this.extUrl%>resources/css/ext-all.css" />
<LINK REL="StyleSheet" HREF="views/default.css" TYPE="text/css"/>
<script type="text/javascript" src="<%=this.extUrl%>adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="<%=this.extUrl%>ext-all.js"></script>
<script type="text/javascript" src="<%=this.rootUrl%>shared/js/libOO/client.sjs"></script>
<script>
	Ext.onReady(function(){
		Ext.BLANK_IMAGE_URL = '<%=this.extUrl%>resources/images/default/s.gif';
	});
</script>
<script>
	Ext.onReady(function(){
		Ext.QuickTips.init();
	
		Ext.form.Field.prototype.msgTarget = 'under';
	 
		
		var password_form = new Ext.form.FormPanel({
			labelWidth: 150, // label password_form here cascade unless overridden
			url:'?fuseaction=new_password_save',
			buttonAlign:"center",
			frame:true,
			title:"Change Admin Password",
			defaults:{
				xtype:"textfield",
				inputType:"password",
				allowBlank:false,
				name: 'password',
				minLength:6,
				selectOnFocus:true
			},
			items:[
				{
					fieldLabel: 'New Admin Password'
				},
				{
					fieldLabel: 'New Admin Password (again)'
				}
			],
			buttons:[{
				text:"Save", 
				handler:fn=function(){
					if (password_form.form.isValid()) {
						password_form.form.submit({
							waitMsg:'Saving...'
						});	
						
					}else{
						Ext.MessageBox.alert('Errors', 'Please fix the errors noted.');
					}
				}
			}],
			keys:{
				key: [10,13],
				fn:fn
			},
			listeners:{
				actioncomplete:function(form,action){
					if (action.result.url){
						location.href=action.result.url;
					}
					
				},
				actionfailed:function(form,action){
					if (action.result.msg){
						Ext.MessageBox.alert('Error', action.result.msg);
					}
				}	
			}
		});
		
		
		password_form.render('password-form');
		
		Ext.get("form_div").child("div").setWidth(400).anchorTo(document.body,'c-c');
		password_form.form.findField("password").focus();
	})
</script>

<div id="form_div" style="padding:10px;">
	<div id="password-form"></div>
</div>
