<%-- 
	If You are seeing this, you are not browsing this documentation on a Myna Server.
	To execute code samples, please browse to the documentation through a running Myna Server
--%>
<% 
	var books =[{
		title:"A Brief History of Time",
		author:"Stephan Hawking.",
		status:"unread"
	},{
		title:"The Elegant Universe",
		author:"Brian Greene",
		status:"read"
	},{
		title:"The Blank Slate",
		author:"Steven Pinker",
		status:"reading"
	},{
		title:"Brother Odd",
		author:"Dean Koontz",
		status:"reading"
	}];
%>
<table cellpadding="5" cellspacing="0" border="1" >
	<caption>My library</caption>
	<tr>
		<th>Book Number</th>
		<th>Title</th>
		<th>Author</th>
		<th>status</th>
	</tr>
	<@loop array="books" element="book" index="bookNum">
		<tr >
			<td><%=bookNum%></td>
			<td>
			<@if book.status == "reading">
				<b><%=book.title%></b>	
			<@elseif book.status == "read">
				<strike><%=book.title%></strike>
			<@else> 
				<%=book.title%>
			</@if> 
			</td>
			
			<td><%=book.author%></td>
			<td><%=book.status%></td>
		</tr>
	</@loop>
</table>