<html>
<head>
   <title>Ext.Direct TreeLoader</title>
   <link rel="stylesheet" type="text/css" href="<%=extUrl%>resources/css/ext-all.css" />
	<script type="text/javascript" src="<%=extUrl%>adapter/ext/ext-base.js"></script>
   <script type="text/javascript" src="<%=extUrl%>ext-all.js"></script>
	
	<%-- Including the Ext.Direct API from the ExtTest.ws WebService --%>
	<script type="text/javascript" src="ExtTest.ws?ext-api&callback=Ext.Direct.addProvider"></script>

   <script language="javascript" >
	if (!("Ext" in window)) alert("Unable to find Ext 3.0. \nPlease install Ext 3.x and update /examples/application.sjs with the correct path to Ext")
		Ext.onReady(function(){
			var tree = new Ext.tree.TreePanel({
			  width: 400,
			  height: 400,
			  autoScroll: true,
			  renderTo: document.body,
			  root: {
					id: 'root',
					text: 'Root'
			  },
			  loader: new Ext.tree.TreeLoader({
					directFn: ExtTest.getTree
			  }),
			  fbar: [{
					text: 'Reload root',
					handler: function(){
						 tree.getRootNode().reload();
					}
			  }]
			});
		});

	</script>
</head>

<body>
	<h1>Ext.Direct Remoting With Tree</h1>
	Server side API: ExtTest.ws <br>
	<% var api_doc="ExtTest.ws" %>
	View the auto generated API for ExtTest.ws: <a target="view_api" href="<%=api_doc%>"><%=api_doc%></a>
</body>
</html>