
<script>
 	$(document).ready(function() {
 		showFieldset("<%=formData.script_name%>")
 	
 	})
 	function showFieldset(test){
 		$("#test_param_display").html(
 			$("#param_div_"+test).html()
 		)
 	}
</script>
<div class="header">Editing Test for service '<%=Html.link({
		controller:"Test",
		action:"list",
		params:{
			service_id:service.id
		},
		text:service.name
	})%>'</div>
<form id="form" class="input_form" action="<%=Html.url({action:"save",id:$params.id})%>" method="post">
	<input type="hidden" name="service_id" value="<%=service.id%>">
	<table cellspacing="0" celpadding="0" border="0">
		<tr>
			<td class="label"><%=bean.manager.getLabel("script_name")%>:</td>
			<td>
				<select name="script_name" onchange="showFieldset($(this).val())">
					<option value="">Please Select</option>
					<@loop array="testList" element="e" index="i">
						<% 
							var selected = "";
							if (e.name == formData.script_name){
								selected = ' selected="true" ';	
							}
						%>  
						<option value="<%=e.name%>"<%=selected%>><%=e.name%></option>	
					</@loop>
				</select>
			</td>
		</tr>
		<tr>
			<td class="label"><%=bean.manager.getLabel("enabled")%>:</td>
			<td>
				<select name="enabled">
					<option value="0">No</option>
					<option value="1" <%=formData.enabled?"selected":""%>>Yes</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="label"><%=bean.manager.getLabel("fail_after")%>:</td>
			<td>
				<input name="fail_after" value="<%=parseInt(formData.fail_after||0)%>" size="2">
			</td>
		</tr>
		<tr>
			<td class="label"><%=bean.manager.getLabel("restart_grace")%>:</td>
			<td>
				<input name="restart_grace" value="<%=parseInt(formData.restart_grace||0)%>" size="2">
			</td>
		</tr>
	</table>
	<div class="testParameters" id="test_param_display" >
			
	</div>
</form>
<table width="" height="" cellspacing="0" celpadding="0" border="0">
	<tr>
		<td align="left">
			<button onclick="if (confirm('Delete this item?')){document.getElementById('form').action='<%=Html.url({action:"remove",id:$params.id})%>';document.getElementById('form').submit()}">Remove</buttion>			
		</td>
		<td>&nbsp;</td>
		<td align="right">
			<button onclick="document.getElementById('form').submit()">Save</buttion>	
		</td>
	</tr>
</table>

<div id="param sets" style="display:none;">
<@loop array="testList" element="e" index="i">
	<div id="param_div_<%=e.name%>">
	<fieldset >
		<legend>Test Parameters</legend>
		<table width="" height="" cellspacing="0" celpadding="0" border="0">
		<@loop array="e.params" element="p" index="i">
			<tr>
				<td class="label"><%=p.label%></td>
				<td>
					<@if p.name>
					<%
						var pkey;
						var existing=formData.TestParameters.findFirstByCol("name",p.name);
						var value=p.defaultValue||"";
						if (existing) {
							value=existing.value||"";
							pkey = existing.id
						}else{
							pkey = $FP.getModel("TestParameter").genKey()
						}
						value = value.escapeHtml();
						%><input type="hidden" name="TestParameters.<%=pkey%>.name" value="<%=p.name%>"><%
						switch(p.type){
							case "long":
								%><input name="TestParameters.<%=pkey%>.value" size="100" value="<%=value%>"><%  
								break;
							case "short":
								%><input name="TestParameters.<%=pkey%>.value" value="<%=value%>"><%  
								break;
							case "numeric":
								%><input name="TestParameters.<%=pkey%>.value" size="7" value="<%=value%>"><%  
								break;
							case "multiple":
								%><textarea name="TestParameters.<%=pkey%>.value" cols="90" rows="25"><%=value%></textarea><%  
								break;
							default:
								%><input name="TestParameters.<%=pkey%>.value" value="<%=value%>"><%  
								break;
						}
					%>
					<@else>
						<div><%=p.text%></div>
					</@if>
					
				</td>
			</tr>
		</@loop>
			
		</table>
	</fieldSet>
	</div>
</@loop>
</div>
<%-- <%=Myna.dump(formData)%> --%>