<style>
	#log_summary td{
		font-family:sans-serif;
		border-bottom:1px solid gray;
	}
	#log_summary .label{
		font-weight:bold;
		text-align:right;
		background-color:silver;
	}
</style>

<table id="log_summary"  height="1" cellpadding="5" cellspacing="0" border="0" >
	<tr>
		<td class="label">Log ID</td><td><%=bean.log_id%></td>
	</tr><tr>
		<td class="label">Request ID</td><td><%=bean.request_id%></td>
	</tr><tr>
		<td class="label">App Name</td><td><%=bean.app_name%></td>
	</tr><tr>
		<td class="label">Purpose</td><td><%=bean.purpose%></td>
	</tr><tr>
		<td class="label">Type</td><td><%=bean.type%></td>
	</tr><tr>
		<td class="label">Event Timestamp</td><td><%=bean.event_ts%></td>
	</tr><tr>
		<td class="label">Request Elapsed</td><td><%=bean.request_elapsed%></td>
	</tr><tr>
		<td class="label">Event Elapsed</td><td><%=bean.log_elapsed%></td>
	</tr>
</table>
<hr>
<h2><%=bean.label%></h2>
<%=bean.detail%>