<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<title><%=title%></title>
	<link rel="stylesheet" href="default.css" />
	<link rel="stylesheet" type="text/css" href="<%=$application.extUrl%>resources/css/ext-all.css" />
	<link rel="stylesheet" type="text/css" href="<%=$application.extUrl%>resources/css/xtheme-slate.css" />
	<link rel="stylesheet" type="text/css" href="<%=$server.rootUrl%>/shared/reset_default.css" />
	<LINK REL="StyleSheet" HREF="views/default.css" TYPE="text/css"/>
	<script type="text/javascript" src="<%=$application.extUrl%>adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="<%=$application.extUrl%>ext-all-debug.js"></script>
	<script type="text/javascript" src="<%=$server.rootUrl%>shared/js/libOO/client.sjs"></script>
	<!-- Simple OpenID Selector -->
	<link rel="stylesheet" href="<%=$server.rootUrl%>shared/openid-selector/css/openid.css" />
	<script type="text/javascript" src="<%=$server.rootUrl%>/shared/openid-selector/js/jquery-1.2.6.min.js"></script>
	<script type="text/javascript" src="<%=$server.rootUrl%>/shared/openid-selector/js/openid-jquery.js"></script>
	<!-- /Simple OpenID Selector -->
	
	<style type="text/css">
		/* Basic page formatting. */
		body {
			font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
			padding:10px;
		}
		fieldset{
			padding:10px;	
			clear:both;
			width:470px;
			background-color:white;
			height:160px;
		}
		legend {
			font-weight: bold;
		}
	</style>
	
	<script>
		Ext.onReady(function(){
			openid.init({
				input_id:'openid',
				img_path:"<%=$server.rootUrl%>/shared/openid-selector/images/"
			});
			//Ext.get("login_div").hide();
			Ext.BLANK_IMAGE_URL = '<%=$application.extUrl%>resources/images/default/s.gif';
			Ext.getBody().query(".hide-in-ext").forEach(function(domElement){
				domElement.style.display="none"
			})
			

			new Ext.Window({
				width:530,
				height:265,
				title:"<%=title%>",
				closeable:true,
				//frame:true,
				layout:"fit",
				//items:[{
					contentEl:"login_div"
				//}]
			}).show();
			new Ext.TabPanel({
				 applyTo: 'login_div',
				 activeTab: 0,
				 deferredRender: false,
				 autoTabs: true,
				 bodyStyle:"padding:10px;background-color:#6B869F"
				 
			}); 
		})
	</script>
</head>
<body >
	<div id="login_div"  >
		<@if "message" in this><b><%=message%></b><p/></@if>
		<div class="reset_default hide-in-ext">
			Select your account type:
			<ul  class="hide-in-ext">
			<@loop array="$req.data.providers.split(/,/)" element="provider">
				<li><a href="#<%=provider%>"><%=providerMap[provider].name%></a>: <%=providerMap[provider].desc%></li>
			</@loop>
			</ul>
		</div>
		
		
		<@loop array="$req.data.providers.split(/,/)" element="provider">
			<div id="<%=provider%>_div" class="reset_default x-tab login_div" title="<%=providerMap[provider].name%>"> 
				<a name="#<%=provider%>"></a>
				<form id="<%=provider%>_form" action="?fuseaction=auth" method="post">
					<input type="hidden" name="provider" value="<%=provider%>">
					<input type="hidden" name="providers" value="<%=providers%>">
					<input type="hidden" name="callback" value="<%=callback%>">
					<input type="hidden" name="login_page" value="<%=login_page%>">
					<fieldset>
						<legend class="hide-in-ext"><%=providerMap[provider].name%></legend>
						
				<@if provider == "openid">
					<div id="openid_choice">
						<%-- <p>Please click your account provider:</p> --%>
						<div id="openid_btns"></div>
					</div>
					
					<div id="openid_input_area">
						<input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
						<input id="openid_submit" type="submit" value="Sign-In"/>
					</div>
					<noscript>
					<p>OpenID is service that allows you to log-on to many different websites using a single indentity.
					Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
					</noscript>
				<@elseif provider == "server_admin">
						<b><%=providerMap[provider].desc%></b><br/><br/>
						<input type="hidden" name="username" value="admin">
						<b>Admin Password:</b> <input type="password" name="password"><br/>
						<button type="submit">Login</button>
				<@else>
						<b><%=providerMap[provider].desc%><b><br/><br/>
						<b>Username:</b> <input name="username"><br/>
						<b>Password:</b> <input type="password" name="password"><p/>
						<button type="submit">Login</button>
				</@if>
				</fieldset>	
				</form>
			</div>
		</@loop>
	</div>
	
</body>
</html>