<!-- 


-->

<link rel="stylesheet" type="text/css" href="<%=extUrl%>resources/css/ext-all.css" />

<script type="text/javascript" src="<%=extUrl%>adapter/ext/ext-base.js"></script>
<script type="text/javascript" src="<%=extUrl%>ext-all.js"></script>
<script type="text/javascript" src="<%=$server.rootUrl%>shared/js/libOO/client.sjs"></script>
<!-- 
Loading the Ext.Direct API from the Myna WebService
the "scriptvar" parameter indicates what local variable should be used to store
the API
-->
<script type="text/javascript" src="ExtTest.ws?ext-api&callback=Ext.Direct.addProvider"></script>

<script>
if (!("Ext" in window)) alert("Unable to find Ext 3.0. \nPlease install Ext 3.x and update /examples/application.sjs with the correct path to Ext")
/* "API" is defined in api include above */
Ext.onReady(function(){
	/* 
	"ExtTest" is the name of the web service, and "get_stuff" is the name of a 
	function on that service 
	*/
	(5).times(function(i){
		var index = i+1
		ExtTest.get_stuff(index,function(result, response) {
			document.getElementById("output").innerHTML += "result"+index+" =" +result +"<br>";
			debug_window("response from callback "+index+":");
			debug_window(response);
		})
	})
		
})
</script>
<h1>Demonstrating Ext.Direct batch mode</h1>
<br><br>
This is a very simple example that shows the bare minimum for Ext.Direct support.
<br><br>
This will make multiple calls to the Myna web service in batch mode.<br><br>
Server side API: ExtTest.ws <br>
<% var api_doc=$server.currentUrl+"ExtTest.ws"; %>
<br><br>View the auto generated API for ExtTest.ws: <a target="view_api" href="<%=api_doc%>"><%=api_doc%></a>
<hr>
<p>Responses:
<div id="output"></div>